node_modules
.venv
.vscode
dist
.idea
.vscode
log.txt
/src/react-app-env.d.ts
.env
__pycache__
yarn.lock
package-lock.json
yarn-error.log
.yarnrc.yml
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
