repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: trailing-whitespace
        exclude: ^.*\.(lock)$||^docs\/
      - id: mixed-line-ending
        exclude: ^.*\.(lock)$||^docs\/

  - repo: https://github.com/biomejs/pre-commit
    rev: v0.1.0
    hooks:
      - id: biome-check
        additional_dependencies: [ "@biomejs/biome@1.4.1" ]

  - repo: local
    hooks:
      - id: typescript-check
        name: check typescript
        language: node
        entry: tsc -p src/tsconfig.json --noEmit
        pass_filenames: false
        additional_dependencies:
          - "typescript"