name: Publish Package to npmjs
on:
  push:
    tags:
      - v*

permissions:
  id-token: write
  contents: read

jobs:
  tests:
    uses: ./.github/workflows/tests.yaml

  publish:
    needs: tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: '18.x'
          registry-url: 'https://registry.npmjs.org'
      - run: npm install
      - run: cd src && tsc
      - run: cp ./README.md ./src/README.md
      - run: cd src && npm publish
