name: Publish Package to npmjs
on:
  push:
    tags:
      - v*

permissions:
  id-token: write
  contents: read

jobs:
  tests:
    uses: ./.github/workflows/tests.yaml

  publish:
    needs: tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: '22'
          registry-url: 'https://registry.npmjs.org'
      # Ensure npm 11.5.1 or later is installed (to support trused publishers)
      - run: npm install -g npm@latest
      - run: npm install
      - run: cd src && tsc
      - run: cp ./README.md ./src/README.md
      - run: cd src && npm publish
